version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"

  search:
    build:
      context: ./search
    container_name: search
    restart: always
    env_file:
      - .env
    volumes:
      - faiss_data:/app/e5-large
    ports:
      - "8000:8000"
    command: uvicorn app:app --host 0.0.0.0 --port 8000

  agent:
    build:
      context: ./agent
    container_name: agent
    restart: always
    env_file:
      - .env
    depends_on:
      - search
    ports:
      - "8010:8010"
    command: uvicorn app:app --host 0.0.0.0 --port 8010

  tg_bot:
    build:
      context: ./bot
    container_name: bot
    restart: always
    env_file:
      - .env
    depends_on:
      - postgres
      - agent
    command: python app.py

volumes:
  pgdata:
  pgadmin_data:
  faiss_data:
